/**
 * Block File
 */
.block.-file {
  display: none;
  padding: 0 0 32px;
}

.block.-file .upload {
  padding: 16px 8px;
  border: 1px solid #000;
  background-color: #fff;
}

body[data-selected="tester"] .block.-file {
  display: block;
}

.block.-file h2 {
  background-image: url(../../images/icon-upload.svg);
}